<!DOCTYPE html>
<html lang="pt-br" ng-app="listaTelefonica">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista Telefônica</title>
  <script src="../lib/angular/angular.min.js"></script>
  <link rel="stylesheet" href="../lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="listaTelefonicaCtrl">
  <div class="jumbotron">
    <h3 ng-bind="app"></h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Contato</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contato in contatos">
          <td>{{ contato.nome }}</td>
          <td>{{ contato.telefone }}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome">
    <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">
    <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)">Adicionar Contato</button>
  </div>
</body>

</html>

<script src="js/script.js"></script>